$body-font: Indie Flower, Georgia, serif
$background-color: #93CEBE
$timing-size: 1em
$label-size: 2em

body
	text-align: center
	background-color: $background-color
	font: 2em $body-font

.title
	font-family: $body-font
	font-size: 3em

span
	display: inline-block
	width: 6em
	position: relative
	width: 40px
	border: none

label
	display: inline-block
	width: 6em
	margin-right: .5em
	padding-top: .5em

.controls
	display: inline-block
	text-align: center
	padding-left: 30px
	padding-right: 30px

.banner
	border: 3px solid black
	border-radius: 50%
	width: 150px
	height: 150px
	margin-left: auto
	margin-right: auto
	background: #000
	overflow: hidden
	-webkit-backface-visibility: hidden
	-webkit-transform: translate3d(0, 0, 0)
	position: relative

	& .fill
		-webkit-transform: translateY(150px)
		-webkit-animation-name: fillAction
		-webkit-animation-iteration-count: 1
		-webkit-animation-timing-function: cubic-bezier(.2, .6, .8, .4)
		-webkit-animation-duration: 10s
		-webkit-animation-fill-mode: forwards
		-webkit-animation-delay: .25s

	& .pour
		width: 6px
		position: absolute
		left: 50%
		margin-left: -3px
		bottom: 0
		top: 0
		background: #009ae6
		-webkit-animation-name: pourAction
		-webkit-animation-timing-function: linear
		-webkit-animation-duration: 0.25s

	& #waveShape
		-webkit-animation-name: waveAction
		-webkit-animation-iteration-count: infinite
		-webkit-animation-timing-function: linear
		-webkit-animation-duration: 0.5s
		width: 00px
		height: 150px
		fill: #04ACFF

@-webkit-keyframes pourAction
	0%
		-webkit-transform: translateY(-100%)
	100%
		-webkit-transform: translateY(0)


@-webkit-keyframes fillAction
	0%
		-webkit-transform: translateY(150px)
	100%
		-webkit-transform: translateY(-5px)

@-webkit-keyframes emptyAction
	100%
		-webkit-transform: translateY(150px)
	0%
		-webkit-transform: translateY(-5px)

@-webkit-keyframes waveAction
	0%
		-webkit-transform: translate(-150px, 0)
	100%
		-webkit-transform: translate(0, 0)

.hidden
	display: none !important

.break-minus-button,
.break-plus-button,
.work-minus-button,
.work-plus-button
	border: none
	background: none
	font-size: 1em
	outline: none

.pomodoro-animation
	margin-bottom: 1em
